#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #navbar ul li {
    margin: 0 10px;
  }
  
  #navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  #navbar ul li a:hover {
    text-decoration: underline;
  }
  
  #profile-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  #profile-link:hover {
    text-decoration: underline;
  }
  
  #welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  #welcome-section h1 {
    font-size: 3rem;
    text-align: center;
    color: #333;
  }
  
  #projects {
    padding: 50px 0;
    text-align: center;
  }
  
  .project-tile {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
  }
  
  .project-tile a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  @media screen and (max-width: 768px) {
    
    #navbar ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    #navbar ul li {
      margin: 10px 0;
    }
  
    
    #welcome-section h1 {
      font-size: 2rem;
    }
  
    
    .project-tile {
      margin: 10px;
    }
  }
  